<div class="container">
  
  <div class="row"><!-- 1.0 ROW 1 -->
   
    <div class="col-lg-2"><!-- 1.0 COL 2 -->
    </div><!-- 1.0 COL 2 -->

    <!-- START Main App Content -->

    <div class="col-lg-8"><!-- 1.0 COL 8 -->
      
      <div class="row"><!-- 2.0 ROW 1 -->
        
        <h1>Burger!</h1>
        <img src="/assets/img/burger.png" alt="Hamburger">



      </div><!-- 2.0 ROW 1 -->
      
      
      <div class="row"><!-- 2.0 ROW 2 -->

      

      </div><!-- 2.0 ROW 2 -->

    </div><!-- 1.0 COL 8 -->

    <!-- END Main App Content -->

    <div class="col-lg-2">
    </div>
  
  </div><!-- 1.0 ROW 1 -->

</div>

<!-- editing -->

  <!-- ROW 2 -->
  <div class="row">
    
    <h2>Burgers that are not devoured!</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/unless}}
      {{/each}}
    </ul>

    <h2>Burgers that are devoured!</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/if}}
      {{/each}}
    </ul>

    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="bur">Burger Name:</label>
        <input type="text" id="bur" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Can't wait to eat it!
      </div>

      <button type="submit">Add Burger</button>
    </form>

  </div>

</div>
